@use "./base.scss";
@use "./tibetan.scss";

// put your custom CSS here!
i.g {
  font-style: normal;
  color: #6aa84f;
}

i.r {
  font-style: normal;
  color: #cc0000;
}

i.b {
  font-style: normal;
  color: #3c78d8;
}

i.y {
  font-style: normal;
  color: #f1c231;
}

i.p {
  font-style: normal;
  color: #d679d6;
}

img[alt="center"] {
  display: block;
  margin: auto;
}

img[alt="center70"] {
  width: 70%;
  display: block;
  margin: auto;
}

img[alt="center60"] {
  width: 60%;
  display: block;
  margin: auto;
}

img[alt="center50"] {
  width: 50%;
  display: block;
  margin: auto;
}

img[alt="center40"] {
  width: 40%;
  display: block;
  margin: auto;
}
